
@{
    ViewBag.Title = "Settings";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <legend>User Settings</legend>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>Settings</h5>
        </div>
        <div class="col-md-9">
            <div class="checkbox">
                <label><input type="checkbox" value="">  Send Weekly Report  Via Email</label>
            </div>

            <div class="checkbox">
                <label><input type="checkbox" value=""> Subscribe to Monthly Tech Newsletters </label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="">  Disable Task Reminder </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>  Youtube Channel</h5>
        </div>
        <div class="col-md-9">
            <ul class="list-inline">
                <li><input id="fname" name="Youtube Username/Code" class="form-control" placeholder="*" type="text"></li>
                <li>Enter Youtube Username/Code</li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            <button type="button" class="btn btn-primary">Save Changes</button>
        </div>
    </div>

</div>